{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.wxml", "*.wxss", "*.json"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
